@page
@model DetailAndGo.Pages.CreateBookingModel
@{
    ViewData["Title"] = "Create New Booking";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<partial name="~/Pages/Modals/Car.cshtml" />
<partial name="~/Pages/Modals/Services.cshtml" />
<partial name="~/Pages/Modals/DateTime.cshtml" />

<style>
    h1 {
        color: #fff;
        text-align: center;
    }

    .booking-card {
        text-align: center;
        background-color: rgba(100, 100, 100, 0.5);
        margin-bottom: 20px;
    }

    .card-header {
        background-color: #333;
    }

    .card-button {
        background-color: #333;
        text-align: center;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        font-size: 24px;
        color: #999;
        padding: 10px 0px;
        transition-duration: 0.3s;
    }

        .card-button:hover {
            background-color: #999;
            color: #333;
            box-shadow: 0px 0px 100px 2px #99999988;
            transform: scale(1.01);
        }
</style>

<div class="row" style="margin-top: 20px;">
    <div class="col">
        <h1>Create New Booking</h1>
    </div>
</div>
<hr class="bg-light" />

<div class="row">
    <div class="col-lg-3">
        <div class="card text-light booking-card">
            <div class="card-header">
                <h2><i class="fa fa-check text-light"></i> CAR</h2>
            </div>
            <div class="card-body">
                @{
                    string carImage = $"https://cdn.imagin.studio/getImage?customer=gblukas-slivka&make={Model.CustomerCar.CarModel.Replace(" ", "%20")}&modelFamily={Model.CustomerCar.CarFamily.Replace(" ", "%20")}";
                }
                <img src="@carImage" height="200" style="margin-top: -57px; margin-left: -15px;" id="carImage" />
                <h6 id="carText">@Model.CustomerCar.CarModel @Model.CustomerCar.CarFamily</h6>
                <label class="badge bg-warning text-dark" id="sizeText" style="font-size: 18px;">@Model.CustomerCar.CarSize.ToString()</label>
            </div>
            <a href="" data-bs-toggle="modal" data-bs-target="#carsModal">
                <div class="card-button">
                    <i class="fa fa-arrows-rotate"></i> Change
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card text-light booking-card">
            <div class="card-header">
                <h2>SERVICES</h2>
            </div>
            <div class="card-body">
                <div class="" style="margin: 78px auto;">
                    <i class="fa fa-list" style="font-size: 24px;"></i>
                    <h6>No services selected...</h6>
                </div>

            </div>
            <a href="" data-bs-toggle="modal" data-bs-target="#servicesModal">
                <div class="card-button">
                    <i class="fa fa-check"></i> Select
                </div>
            </a>

        </div>
    </div>
    <div class="col-lg-3">
        <div class="card text-light booking-card">
            <div class="card-header">
                <h2>DATE&TIME</h2>
            </div>
            <div class="card-body">
                <div class="" style="margin: 78px auto;">
                    <i class="fa fa-clock" style="font-size: 24px;"></i>
                    <h6>No date&time selected...</h6>
                </div>

            </div>
            <a href="" data-bs-toggle="modal" data-bs-target="#dateTimeModal">
                <div class="card-button">
                    <i class="fa fa-calendar"></i> Pick
                </div>
            </a>

        </div>
    </div>
    <div class="col-lg-3">
        <div class="card text-light booking-card">
            <div class="card-header">
                <h2><i class="fa fa-check"></i> PAYMENT</h2>
            </div>
            <div class="card-body">
                <div class="" style="margin: 78px auto;">
                    <img src="~/images/creditcards/visa.png" height="30" />
                    <h6>ending in @Model.Last4</h6>
                </div>

            </div>
            <a href="">
                <div class="card-button">
                    <i class="fa fa-credit-card"></i> Manage
                </div>
            </a>

        </div>
    </div>
</div>
<div class="row" style="margin: 40px auto; width: 50%; display: none;" id="confirmButton">
    <a href="">
        <div class="card-button" style="border-radius: 5px; border: 1px solid #fff;">
            <div style="font-size: 32px;"> CONFIRM BOOKING </div>
            <div style="font-size: 20px;">£299.99 incl. VAT</div>

        </div>
    </a>
    <div class="row" style="margin-top: 20px;">
        <h6 class="text-muted text-center">By confirming the booking you agree to our <a href="#">Terms&Conditions</a></h6>
    </div>
</div>


<script>
    let carImgUri;
    const booking = {
        carModel: '@Model.CustomerCar.CarModel',
        carFamily: '@Model.CustomerCar.CarFamily',
        carSize: '@Model.CustomerCar.CarSize',
        services: {

        },
        totalPrice: 0,
        dateTime: new Date(),
        paymentMethod: '@Model.DefaultPaymentMethod',
        carSelected: true,
        servicesSelected: false,
        dateTimeSelected: false,
        paymentSelected: true
    };

    @foreach (var car in Model.CustomerCars)
    {
        <text>
            $('#carImage-@car.Id').on('click', function () {
                booking.carModel = '@car.CarModel';
                booking.carFamily = '@car.CarFamily';
                booking.carSize = '@car.CarSize';
                carImgUri = 'https://cdn.imagin.studio/getImage?customer=gblukas-slivka&make=' + booking.carModel + '&modelFamily=' + booking.carFamily;
                $('#carImage').attr('src', carImgUri);
                $('#carText').text(booking.carModel + " " + booking.carFamily);
                $('#sizeText').text(booking.carSize);
                $('#carsModal').modal('hide');
                console.log(booking);
            });
        </text>
    }
        console.log(booking);

    if (booking.carSelected && booking.servicesSelected && booking.dateTimeSelected && booking.paymentSelected) {
        $('#confirmButton').show();
    }

</script>