@page
@model IndexModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery
@{
    ViewData["Title"] = "Home page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    var token = antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
    :root {
        --fc-small-font-size: .85em;
        --fc-page-bg-color: #fff;
        --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
        --fc-neutral-text-color: #808080;
        --fc-border-color: #000;
        --fc-button-text-color: #fff;
        --fc-button-bg-color: #2C3E50;
        --fc-button-border-color: #2C3E50;
        --fc-button-hover-bg-color: #1e2b37;
        --fc-button-hover-border-color: #1a252f;
        --fc-button-active-bg-color: #1a252f;
        --fc-button-active-border-color: #151e27;
        --fc-event-bg-color: #3788d8;
        --fc-event-border-color: #3788d8;
        --fc-event-text-color: #fff;
        --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);
        --fc-more-link-bg-color: #d0d0d0;
        --fc-more-link-text-color: inherit;
        --fc-event-resizer-thickness: 8px;
        --fc-event-resizer-dot-total-width: 8px;
        --fc-event-resizer-dot-border-width: 1px;
        --fc-non-business-color: rgba(215, 215, 215, 0.3);
        --fc-bg-event-color: rgb(143, 223, 130);
        --fc-bg-event-opacity: 0.3;
        --fc-highlight-color: rgba(188, 232, 241, 0.3);
        --fc-today-bg-color: rgba(143, 223, 130, 0.3);
        --fc-now-indicator-color: red;
    }

    a {
        color: #fff;
    }

    .car-input {
        background-color: #222;
        height: 40px;
        color: #fff;
        width: 50%;
        margin: 10px auto;
    }

    .system-button:hover {
        box-shadow: 0px 0px 30px 1px #ffffff55;
    }
</style>

<script src='~/lib/calendar/dist/index.global.js'></script>
<script src="~/lib/moment/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.js" integrity="sha512-S1KaVll2UTj29SOXML7O4LxU7zEoQhJgnondHE/ZvNrk7H4Rc9TLFKDaWuEzsHmAEkJnWFedc0hcVrpvFTOlwA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

@if (User.Identity.IsAuthenticated)
{
    <div class="supreme-container">
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-12 card-item">
                <div class="row">
                    <div class="col-md-2" style="vertical-align: central;">
                        <img src="~/images/logo.png" style="height: 150px; margin: auto auto;" />
                    </div>
                    <div class="col-md-10">
                        <h3 class="text-light text-center">@Model.Greeting @Model.Customer.FirstName</h3>
                        <hr />
                        <p class="text-light">
                            This is some text which will be printed here, so whatever you want it will be here. like something or like something or like something etc etc etc...
                            This is some text which will be printed here, so whatever you want it will be here. like something or like something or like something etc etc etc...
                            This is some text which will be printed here, so whatever you want it will be here. like something or like something or like something etc etc etc...
                            This is some text which will be printed here, so whatever you want it will be here. like something or like something or like something etc etc etc...
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-6" style="margin-bottom: 20px;">
                <div class="card-item">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="text-light" style="font-size: 24px;">YOUR BOOKINGS</h1>
                        </div>
                    </div>
                    <hr class="bg-light" />
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="move-car">
                                <div class="container">
                                    <div class="row">
                                        <a class="btn btn-success btn-sm text-center" style="font-size: 24px;" asp-page="./CreateBooking"><i class="fa fa-check"></i> Make Booking</a>
                                    </div>
                                    <div class="row text-light" style="margin-bottom: 5px;">
                                        <div class="col-2" style="background-color: #222; padding: 5px; text-align: center;">
                                            <i class="fa fa-times text-danger"></i>
                                        </div>
                                        <div class="col-10" style="background-color: #333; padding: 5px;">
                                            <label>no future booking</label>
                                        </div>
                                    </div>

                                    @if (Model.CarHistory.Count > 0)
                                    {
                                        <h6 class="text-light" style="margin-top: 10px;">History</h6>
                                    }

                                    @foreach (var carHistory in Model.CarHistory)
                                    {
                                        <div class="row text-light" style="margin-bottom: 5px;">
                                            <div class="col-2" style="background-color: #000; padding: 5px; text-align: center;">
                                                <i class="fa fa-check text-success"></i>
                                            </div>
                                            <div class="col-10" style="background-color: #333; padding: 5px;">
                                                <label>@carHistory.BookingDate.ToShortDateString() | <span class="text-warning">@carHistory.Service</span></label>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="margin-bottom: 20px;">
                <div class="card-item">
                    <h1 class="text-light" style="font-size: 24px;">YOUR SUBSCRIPTION</h1>
                    <hr class="bg-light" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="move-car">
                                <div class="container text-center">                                    
                                    <h5 class="badge bg-warning text-dark" style="font-size: 24px;">ELITE</h5><br />
                                    <i class="fa fa-check" style="font-size: 64px; display: none;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 40px;">
            <div class="col-lg-3" style="margin-bottom: 5px;">
                <div class="row">
                    <a class="btn btn-lg btn-secondary system-button" style="background-color: #444; border: 1px solid #666; border-radius: 0px;">Your Account</a>
                </div>
            </div>
            <div class="col-lg-3" style="margin-bottom: 5px;">
                <div class="row">
                    <a class="btn btn-lg btn-secondary system-button" style="background-color: #444; border: 1px solid #666; border-radius: 0px;">BUTTON 2</a>
                </div>
            </div>
            <div class="col-lg-3" style="margin-bottom: 5px;">
                <div class="row">
                    <a class="btn btn-lg btn-secondary system-button" style="background-color: #444; border: 1px solid #666; border-radius: 0px;">BUTTON 3</a>
                </div>
            </div>
            <div class="col-lg-3" style="margin-bottom: 5px;">
                <div class="row">
                    <a class="btn btn-lg btn-secondary system-button" style="background-color: #444; border: 1px solid #666; border-radius: 0px;">BUTTON 4</a>
                </div>
            </div>
        </div>
        <div class="row" style="">
            <div class="col-12 card-item">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-light text-center"><i class="fa fa-info-circle"></i> What's new</h3>
                        <hr />
                        <div class="row">
                            <div class="col-md-4">
                                <img src="~/images/test.jpg" style="height: 200px;" class="zoom-on-hover img-fluid" />
                            </div>
                            <div class="col-md-8">
                                <p class="text-light">
                                    This is some text which will be printed here, so whatever you want it will be here. like something or like something or like something etc etc etc...
                                    This is some text which will be printed here, so whatever you want it will be here. like something or like something or like something etc etc etc...
                                    This is some text which will be printed here, so whatever you want it will be here. like something or like something or like something etc etc etc...
                                    This is some text which will be printed here, so whatever you want it will be here. like something or like something or like something etc etc etc...
                                    This is some text which will be printed here, so <span class="text-warning">whatever you want</span> it will be here. like something or like something or like something etc etc etc...
                                    This is some text which will be printed here, so whatever you want it will be here. like something or like something or like something etc etc etc...
                                    This is some text which will be printed here, so whatever you want it will be here. like something or like something or like something etc etc etc...
                                    This is some text which will be printed here, so whatever you want it will be here. like something or like something or like something etc etc etc...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            themeSystem: 'bootstrap5',
            weekends: true,
            firstDay: 1,
            navLinks: true,
            selectable: true,
            timeZone: 'local',
            aspectRatio: 3,
            navLinkDayClick: function (date, jsEvent) {
                console.log('day', date.toISOString());
                console.log('coords', jsEvent.pageX, jsEvent.pageY);
            },
            dateClick: function (date) {
                console.log('DATE CLICK HAHAHA');
                calendar.changeView('dayGridDay', date.date);
            },
            eventClick: function () {
                console.log('event clicked...');
            },
            selectAllow: function (select) {
                console.log(calendar.getEvents());
                return moment().diff(select.start, 'days') < 1 && calendar.getEvents();
            },
            events: @Html.Raw(Model.AllBookings),
            eventBackgroundColor: '#f00',
            eventTextColor: 'red',
            eventColor: '#378006'
        });
        calendar.render();


        $(document).ready(function () {
            var currentIndex = 0;
            var bookingCar, bookingServices, bookingDate, bookingPayment;
            $('#carCarousel').bind('slid.bs.carousel', function () {
                currentIndex = $('div.active').index();
            });

            $('.carousel-item').on('click', function () {
                console.log('button clicked...');
                $.ajax({
                    url: "?handler=MakeCarActive",
                    data: { carIndex: currentIndex },
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    dataType: 'HTML',
                    type: "POST",
                    async: false,
                    cache: true,
                    beforeSend: function () {

                    },
                    success: function (data) {
                        location.reload();
                    },
                    error: function () {
                        console.log("Error");
                    },
                    complete: function () {
                        console.log('finished...');
                    },
                });
            });

            $('#addCarBtn').on('click', function () {
                $('#carsModal').modal('hide');
                $('#addCarModal').modal('show');
            });

            $('#addCarModal').on('hide.bs.modal', function () {
                $('#carsModal').modal('show');
            });

            $('#cancelAddNewCarBtn').on('click', function () {
                $('#addCarModal').modal('hide');
            });

            $('#addCarButton').on('click', function () {
                let carModel = $('#addCarModel').val();
                let carFamily = $('#addCarFamily').val();
                if (carModel == "" || carFamily == "") {
                    $('#emptyErrorMsg').show();
                }
                else {
                    $('#emptyErrorMsg').hide();

                    $.ajax({
                        url: "?handler=AddNewCar",
                        data: { carModel: carModel, carFamily: carFamily },
                        headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                        dataType: 'HTML',
                        type: "POST",
                        async: false,
                        cache: true,
                        beforeSend: function () {

                        },
                        success: function (data) {
                            location.reload();
                        },
                        error: function () {
                            console.log("Error");
                        },
                        complete: function () {
                            console.log('finished...');
                        },
                    });
                }
            });

            $('#removeCarBtn').on('click', function () {
                $.ajax({
                    url: "?handler=RemoveCar",
                    data: { carIndex: currentIndex },
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    dataType: 'HTML',
                    type: "POST",
                    async: false,
                    cache: true,
                    beforeSend: function () {

                    },
                    success: function (data) {
                        location.reload();
                    },
                    error: function () {
                        console.log("Error");
                    },
                    complete: function () {
                        console.log('finished...');
                    },
                });
            });

            $('#confirmServicesBtn').on('click', function () {

            });

            $('#confirmBookingButton').on('click', function () {
                let servicesToSend = selectedServices.map(x => x.Id).join(", ");
                $.ajax({
                    url: "?handler=CreateBooking",
                    data: { carIndex: currentIndex, services: selectedServices, bookedFor: new Date(), paymentMethodId: 'paymentId' },
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    dataType: 'HTML',
                    type: "POST",
                    async: false,
                    cache: true,
                    beforeSend: function () {

                    },
                    success: function (data) {
                        console.log('Booking Created');
                        console.log('services to send: ' + selectedServices);
                    },
                    error: function () {
                        console.log("Error");
                    },
                    complete: function () {
                        console.log('finished...');
                    },
                });

                console.log(selectedServices);

                $('#bookingModal').modal('hide');
            });

            $('#bookingBtn').on('click', function () {
                $('#bookingModal').modal('show');
            });

            $('#selectDateBtn').on('click', function () {
                $('#bookingModal').modal('hide');
                $('#dateModal').modal('show');
            });

            $('#dateModal').on('hide.bs.modal', function () {
                $('#bookingModal').modal('show');
            });

            $('#changeCarInBookingButton').on('click', function () {
                $('#bookingModal').modal('hide');
                $('#carsModal').modal('show');
            });

            $('#selectServiceBtn').on('click', function () {
                $('#bookingModal').modal('hide');
                $('#servicesModal').modal('show');
            });

            $('#servicesModal').on('hide.bs.modal', function () {
                $('#bookingModal').modal('show');
            });

            $('#paymentModal').on('hide.bs.modal', function () {
                $('#bookingModal').modal('show');
            });

            $('#cancelServicesBtn').on('click', function () {
                $('#servicesModal').modal('hide');
                $('#bookingModal').modal('show');
            });

            $('#cancelPaymentBtn').on('click', function () {
                $('#paymentModal').modal('hide');
                $('#bookingModal').modal('show');
            });

            $('#addCardButton').on('click', function (e) {
                e.preventDefault();
                $('#paymentModal').modal('hide');
                $('#addCardModal').modal('show');
            });


            $('#managePaymentMethodsButton').on('click', function () {
                const defaultPM = String('@Html.Raw(Model.DefaultPaymentMethod)');
                $('#bookingModal').modal('hide');
                $('#paymentModal').modal('show');
                var xhr = $.ajax({
                    url: "?handler=PaymentMethods",
                    data: {},
                    dataType: 'JSON',
                    type: "GET",
                    async: false,
                    cache: true,
                    beforeSend: function () {

                    },
                    success: function (data) {
                        $('#cardContainer').empty();
                        const paymentMethods = [];

                        for (i = 0; i < data.length; i++) {
                            console.log(data);
                            console.log('brand: ' + data[i].card.brand);
                            console.log('last 4:' + data[i].card.last4);
                            console.log('expiry:' + data[i].card.expMonth + '/' + data[i].card.expYear);
                            console.log('payment method ID: ' + data[i].id);
                            paymentMethods.push(data[i].id);

                            var htmlContent = "<div class=\"col-md-4\"><div id=\"" + paymentMethods[i] + "\" class=\"card bg-dark text-center\" style=\"margin-bottom: 15px;\"><div class=\"card-header\"> <img style=\"height: 30px;\" src=\"{imageCard}\" /><a href=\"\" id=\"delete-" + paymentMethods[i] + "\"><i class=\"fa fa-times float-end text-danger\" style=\"font-size: 24px;\"></i></div><div class=\"card-body\">xxxx xxxx xxxx " + data[i].card.last4 + " - " + data[i].card.expMonth + "/" + data[i].card.expYear + "</div><div class=\"card-footer\"><a id=\"" + paymentMethods[i] + "\" href=\"\" class=\"btn btn-success\">Make Active</a></div></div></div>";
                            var newText;
                            var newText2;



                            if (data[i].card.brand == 'visa') {
                                newText = htmlContent.replace('{imageCard}', './images/creditcards/visa.png');
                            }
                            else if (data[i].card.brand == 'mastercard') {
                                newText = htmlContent.replace('{imageCard}', './images/creditcards/mastercard2.png');
                            }
                            else if (data[i].card.brand == 'amex') {
                                newText = htmlContent.replace('{imageCard}', './images/creditcards/amex2.png');
                            }

                            if (data[i].id == defaultPM) {
                                newText2 = newText.replace('bg-dark', 'bg-success').replace('Make Active', 'Active');
                            }
                            else {
                                newText2 = newText;
                            }

                            $('#cardContainer').prepend(newText2);
                            $('#' + paymentMethods[i]).on('click', function () {
                                //console.log($(this).attr('id'));
                                $.ajax({
                                    url: '?handler=ChangePaymentMethod',
                                    data: { paymentMethodId: $(this).attr('id') },
                                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                                    dataTupe: 'JSON',
                                    type: 'POST',
                                    async: false,
                                    cache: true,
                                    beforeSend: function () {

                                    },
                                    success: function (data2) {

                                    },
                                    error: function (err2) {

                                    },
                                    complete: function () {

                                    },
                                });
                            });

                            $('#delete-' + paymentMethods[i]).on('click', function (e) {
                                e.preventDefault();
                                let cardToRemove = $(this).attr('id').replace('delete-', '');
                                console.log('payment delete - ' + $(this).attr('id').replace('delete-', ''));
                                $('#cardToDelete').text($(this).attr('id').replace('delete-', ''));
                                $('#deleteCardModal').modal('show');
                                $('#deleteCardButton').on('click', function () {
                                    console.log('ready to delete....');
                                    $.ajax({
                                        url: '?handler=RemovePaymentMethod',
                                        data: { paymentMethodId: cardToRemove },
                                        headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                                        dataTupe: 'JSON',
                                        type: 'POST',
                                        async: false,
                                        cache: true,
                                        beforeSend: function () {

                                        },
                                        success: function (data2) {

                                        },
                                        error: function (err2) {

                                        },
                                        complete: function () {

                                        },
                                    });
                                });
                            });
                        }

                        //console.log(paymentMethods);
                    },
                    error: function (err) {
                        console.log("Error:", err);
                    },
                    complete: function () {
                        console.log('finished...');
                    },
                });
            });



            $('#confirmServicesBtn').on('click', function () {
                $('#servicesModal').modal('hide');
                $('#serviceCheck').show();
                $('#selServices').text(selectedServices);
                $('#logoOnCard').css('filter', 'blur(5px)');
                $.ajax({
                    url: "?handler=ServiceNames",
                    data: { 'sServices': String(selectedServices) },
                    dataType: 'JSON',
                    type: "GET",
                    async: false,
                    cache: true,
                    beforeSend: function () {

                    },
                    success: function (data) {
                        $('#selectedServicesText').text(data);
                    },
                    error: function (err) {
                        console.log("Error:", err);
                    },
                    complete: function () {
                        console.log('finished...');
                    },
                });
            });

            $('#testChargeBtn').on('click', function () {
                $.ajax({
                    url: "?handler=ChargeCustomer",
                    data: { amount: 299.99 },
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    dataType: 'HTML',
                    type: "POST",
                    async: false,
                    cache: true,
                    beforeSend: function () {

                    },
                    success: function (data) {
                        console.log('customer charged');
                    },
                    error: function () {
                        console.log("Error");
                    },
                    complete: function () {
                        console.log('finished...');
                    },
                });
            });
        });

        Array.prototype.remove = function () {
            var what, a = arguments, L = a.length, ax;
            while (L && this.length) {
                what = a[--L];
                while ((ax = this.indexOf(what)) !== -1) {
                    this.splice(ax, 1);
                }
            }
            return this;
        };

    </script>
}
else
{
    <link rel="stylesheet" href="~/css/LandingPage.css" />
    <section class="showcase">
        <div class="video-container">
            <video src="~/videos/background.mp4" autoplay muted loop></video>
        </div>
        <div class="content">
            <div class="row" style="margin-left: -80px;">
                <img src="~/images/logo.png" style="height: 400px; width: 400px;" />
            </div>
            <div class="row" style="margin-top: -30px;">
                <a asp-area="Identity" asp-page="Account/Login" class="btn" style="max-width: 250px;">LOGIN</a>
                <a asp-area="Identity" asp-page="Account/Register" class="btn" style="max-width: 250px;">REGISTER</a>
            </div>
        </div>
    </section>

    <section id="about">
        <h1 class="text-light">About</h1>
        <p class="text-light">
            Detail&Go is fine detailing and valeting service for you car.
            We are here to make you proud of your car!
        </p>

        <h2 class="text-secondary">Follow Detail&Go On Social Media</h2>

        <div class="social">
            <a href="https://facebook.com/" target="_blank"><i class="fa fa-facebook fa-3x"></i></a>
            <a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube fa-3x"></i></a>
        </div>
    </section>

    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
}
