@page
@model IndexModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery
@{
    ViewData["Title"] = "Home page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    var token = antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
}


<style>
    .car-input {
        background-color: #222;
        height: 40px;
        color: #fff;
        width: 50%;
        margin: 10px auto;
    }

    .modal-backdrop {
        background-color: rgba(0, 0, 0, 1);
    }
</style>

<script src='~/lib/calendar/dist/index.global.js'></script>

@if (User.Identity.IsAuthenticated)
{
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-12 card-item">
            <div class="row">
                <div class="col-md-2" style="vertical-align: central;">
                    <img src="~/images/logo.png" style="height: 150px; margin: auto auto;" />
                </div>
                <div class="col-md-10">
                    <h2 class="display-4 text-light text-center">Good evening Marek</h2>
                    <hr />
                    <p class="text-light">
                        This is some text which will be printed here, so whatever you want it will be here. like something or like something or like something etc etc etc...
                        This is some text which will be printed here, so whatever you want it will be here. like something or like something or like something etc etc etc...
                        This is some text which will be printed here, so whatever you want it will be here. like something or like something or like something etc etc etc...
                        This is some text which will be printed here, so whatever you want it will be here. like something or like something or like something etc etc etc...
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-6" style="margin-bottom: 20px;">
            <div class="card-item">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="text-light" style="font-size: 24px;">YOUR CAR</h1>
                    </div>
                    <div class="col-md-6">
                        <h1 class="text-light" style="font-size: 24px;">YOUR BOOKINGS</h1>
                    </div>
                </div>
                <hr class="bg-light" />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="move-car">
                            <div class="container">
                                <h6 class="text-light">Your active car</h6>
                                @if (Model.CustomerCar.Notes == "nocar")
                                {
                                    <h6 class="badge bg-danger text-dark" style="font-size: 18px;">@Model.CustomerCar.CarModel @Model.CustomerCar.CarFamily</h6>
                                }
                                else
                                {
                                    <h6 class="badge bg-warning text-dark" style="font-size: 18px;">@Model.CustomerCar.CarModel @Model.CustomerCar.CarFamily</h6>
                                }
                                @{
                                    string carImage = $"https://cdn.imagin.studio/getImage?customer=gblukas-slivka&make={Model.CustomerCar.CarModel.Replace(" ", "%20")}&modelFamily={Model.CustomerCar.CarFamily.Replace(" ", "%20")}";
                                }
                                <a data-bs-toggle="modal" data-bs-target="#carsModal" href="#"><img class="car-image" src="@carImage" /></a>
                                <div class="row">
                                    <a class="btn-dark btn-sm text-center" data-bs-toggle="modal" data-bs-target="#carsModal" style="width: 80%;" href="#"><i class="fa fa-car"></i> Your Cars</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="move-car">
                            <div class="container">
                                <h6 class="text-light">Upcoming booking</h6>
                                <div class="row text-light" style="margin-bottom: 5px;">
                                    <div class="col-2" style="background-color: #000; padding: 5px; text-align: center;">
                                        <i class="fa fa-times text-danger"></i>
                                    </div>
                                    <div class="col-10" style="background-color: #333; padding: 5px;">
                                        <label>no future booking</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <a class="btn-success btn-sm text-center" href="#" id="bookingBtn"><i class="fa fa-check"></i> Make Booking</a>
                                </div>
                                <h6 class="text-light" style="margin-top: 10px;">History</h6>

                                @foreach (var carHistory in Model.CarHistory)
                                {
                                    <div class="row text-light" style="margin-bottom: 5px;">
                                        <div class="col-2" style="background-color: #000; padding: 5px; text-align: center;">
                                            <i class="fa fa-check text-success"></i>
                                        </div>
                                        <div class="col-10" style="background-color: #333; padding: 5px;">
                                            <label>@carHistory.BookingDate.ToShortDateString() | <span class="text-warning">@carHistory.Service</span></label>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="margin-bottom: 20px;">
            <div class="card-item">
                <h1 class="text-light" style="font-size: 24px;">YOUR SUBSCRIPTION</h1>
                <hr class="bg-light" />
                <div class="row">
                    <div class="col-md-12">
                        <div class="move-car">
                            <div class="container">
                                <h6 class="text-light">Your active subscription</h6>
                                <h5 class="badge bg-warning text-dark" style="font-size: 18px;">ELITE</h5><br />
                                <i class="fa fa-check" style="font-size: 64px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="">
        <div class="col-12 card-item">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="display-4 text-light text-center"><i class="fa fa-info-circle"></i> What's new</h2>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <img src="~/images/test.jpg" style="height: 200px;" class="zoom-on-hover img-fluid" />
                        </div>
                        <div class="col-md-8">
                            <p class="text-light">
                                This is some text which will be printed here, so whatever you want it will be here. like something or like something or like something etc etc etc...
                                This is some text which will be printed here, so whatever you want it will be here. like something or like something or like something etc etc etc...
                                This is some text which will be printed here, so whatever you want it will be here. like something or like something or like something etc etc etc...
                                This is some text which will be printed here, so whatever you want it will be here. like something or like something or like something etc etc etc...
                                This is some text which will be printed here, so <span class="text-warning">whatever you want</span> it will be here. like something or like something or like something etc etc etc...
                                This is some text which will be printed here, so whatever you want it will be here. like something or like something or like something etc etc etc...
                                This is some text which will be printed here, so whatever you want it will be here. like something or like something or like something etc etc etc...
                                This is some text which will be printed here, so whatever you want it will be here. like something or like something or like something etc etc etc...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Cars Modal -->
    <div class="modal fade" id="carsModal" tabindex="-1" role="dialog" aria-labelledby="carsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="background-color: rgba(50, 50, 50, 0.95)">
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <h2 class="modal-title text-light" id="carsModalLabel" style="font-size: 24px;">Your Cars</h2>
                        </div>
                        <div class="col">
                            <a class="float-end" data-bs-dismiss="modal" aria-label="Close" style="background-color: transparent;" href="#">
                                <span class="text-dark"><i class="fa fa-times" style="font-size: 22px;"></i></span>
                            </a>
                        </div>
                    </div>
                    <hr class="bg-light" />
                    <div class="row">
                        <div id="carCarousel" class="carousel slide" data-bs-ride="false" data-bs-interval="false">
                            <div class="carousel-inner" style="background-color: transparent !important">
                                @{
                                    int count = 0;
                                    int selectedCarIndex = 0;

                                    foreach (var car in Model.CustomerCars)
                                    {
                                        string carImg = $"https://cdn.imagin.studio/getImage?customer=gblukas-slivka&make={car.CarModel.Replace(" ", "%20")}&modelFamily={car.CarFamily.Replace(" ", "%20")}";
                                        string act = count > 0 ? "" : "active";
                                        <div class="carousel-item @act">
                                            <a href="#"><img class="d-block w-50 m-auto" src="@carImg" alt="car"></a>
                                            <i class="fa fa-star text-secondary" style="font-size: 250px; position: absolute; top: 15%; left: 30%; z-index: -5; display: none;"></i>
                                            <p class="text-center text-light" style="font-size: 20px;">@car.CarModel @car.CarFamily</p>
                                            <p class="text-center text-muted" style="font-size: 14px;">Added @car.Created.ToString("dd/MM/yyyy")</p>
                                        </div>
                                        count++;


                                    }
                                    <div class="" style="position: absolute; top: 0; left: 0; width: 100%; z-index: 50;">

                                        <form asp-page-handler="MakeCarActive" asp-route-carId="@Model.CustomerCars[selectedCarIndex].Id" asp-route-aspNetUserId="@Model.Customer.AspNetUserId" method="post">
                                        </form>

                                        <!--<a id="makeActBtn" class="btn-outline-success btn-lg" href="#">Make car active</a>-->

                                        <a class="btn-outline-success btn-lg text-center" id="addCarBtn" style="width: 80%;" href="#"><i class="fa fa-plus"></i> Add Car</a>

                                        <a class="btn-outline-danger btn-lg" href="#" id="removeCarBtn"><i class="fa fa-minus"></i> Remove Car</a>

                                    </div>
                                }
                            </div>
                            @if (Model.CustomerCars.Count > 1)
                            {
                                <a class="carousel-control-prev" href="#carCarousel" role="button" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carCarousel" role="button" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>

                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Add Car Modal -->
    <div class="modal fade" id="addCarModal" tabindex="-1" role="dialog" aria-labelledby="addCarModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="background-color: rgba(50, 50, 50, 0.95)">
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <h2 class="modal-title text-light" id="carsModalLabel" style="font-size: 24px;">Add New Car</h2>
                        </div>
                        <div class="col">
                            <a class="float-end" data-bs-dismiss="modal" aria-label="Close" style="background-color: transparent;" href="#">
                                <span class="text-dark"><i class="fa fa-times" style="font-size: 22px;"></i></span>
                            </a>
                        </div>
                    </div>
                    <hr class="bg-light" />
                    <div class="row">
                        <input type="text" placeholder="Car Model" class="form-control car-input" id="addCarModel" />
                    </div>
                    <div class="row">
                        <input type="text" placeholder="Car Family" class="form-control car-input" id="addCarFamily" />
                    </div>
                    <div class="row" style="display: none" id="emptyErrorMsg">
                        <label class="text-warning text-center">Values cannot be empty</label>
                    </div>
                    <div class="row" style="margin: 20px 100px;">
                        <a class="btn btn-outline-success btn-block" href="#" id="addCarButton">ADD</a>
                        <a class="btn btn-outline-secondary" style="margin-top: 20px;" href="#" id="cancelAddNewCarBtn">Cancel</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Booking Modal -->
    <div class="modal fade" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="bookingModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="background-color: rgba(50, 50, 50, 0.95)">
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <h2 class="modal-title text-light" id="carsModalLabel" style="font-size: 24px;">Create New Booking</h2>
                        </div>
                        <div class="col">
                            <a class="float-end" data-bs-dismiss="modal" aria-label="Close" style="background-color: transparent;" href="#">
                                <span class="text-dark"><i class="fa fa-times" style="font-size: 22px;"></i></span>
                            </a>
                        </div>
                    </div>
                    <hr class="bg-light" />

                    <div class="row">
                        <div class="col-md-3">
                            <div class="card bg-dark zoom-on-hover">
                                <div class="card-header">
                                    <div class="row">
                                        <label class="text-center text-light" style="font-size: 24px;">CAR</label>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <img src="@carImage" style="max-height: 100%; max-width: 100%;" />
                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <label class="text-center text-success"><i class="fa fa-check"></i> @Model.CustomerCar.CarModel @Model.CustomerCar.CarFamily</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card bg-dark zoom-on-hover">
                                <div class="card-header">
                                    <div class="row">
                                        <label class="text-center text-light" style="font-size: 24px;">SERVICE</label>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <i class="fa fa-list text-secondary text-center" style="margin: 20px auto; font-size: 48px;"></i>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <label class="text-center text-warning"><i class="fa fa-times"></i> No service selected</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card bg-dark zoom-on-hover">
                                <div class="card-header">
                                    <div class="row">
                                        <label class="text-center text-light" style="font-size: 24px;">DATE</label>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <a class="btn btn-success" href="#" style="margin: 25px auto;" id="selectDateBtn">Select Date</a>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <label class="text-center text-warning"><i class="fa fa-times"></i> No date selected</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card bg-dark zoom-on-hover">
                                <div class="card-header">
                                    <div class="row">
                                        <label class="text-center text-light" style="font-size: 24px;">PAYMENT</label>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <i class="fa fa-credit-card text-secondary text-center" style="margin: 20px auto; font-size: 48px;"></i>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <label class="text-center text-success"><i class="fa fa-check"></i> ending in 4478</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="bg-light" />
                    <div class="row" style="margin: 20px 100px;">
                        <a class="btn btn-outline-secondary btn-block disabled" href="#" id="addCarButton">CONFIRM BOOKING</a>
                        <a class="btn btn-outline-secondary" style="margin-top: 20px;" href="#" id="cancelAddNewCarBtn">Cancel</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Date Modal -->
    <div class="modal fade" id="dateModal" tabindex="-1" role="dialog" aria-labelledby="dateModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="background-color: rgba(50, 50, 50, 0.95)">
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <h2 class="modal-title text-light" id="carsModalLabel" style="font-size: 24px;">Select Date</h2>
                        </div>
                        <div class="col">
                            <a class="float-end" data-bs-dismiss="modal" aria-label="Close" style="background-color: transparent;" href="#">
                                <span class="text-dark"><i class="fa fa-times" style="font-size: 22px;"></i></span>
                            </a>
                        </div>
                    </div>
                    <hr class="bg-light" />
                    <div id="calendar" style="min-height: 600px;" class="text-light"></div>
                    <div class="row" style="margin: 20px 100px;">
                        <a class="btn btn-outline-success btn-block" href="#" id="addCarButton">SELECT DATE & TIME</a>
                        <a class="btn btn-outline-secondary" style="margin-top: 20px;" href="#" id="cancelAddNewCarBtn">Cancel</a>
                    </div>
                    <div class="row">
                    <label class="text-light">ALL BOOKINGS AS JSON:</label>
                    <br />
                    <label class="text-success">@Model.AllBookings</label>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                themeSystem: 'bootstrap5',
                weekends: true,
                firstDay: 1,
                navLinks: true,
                selectable: true,
                timeZone: 'local',
                navLinkDayClick: function (date, jsEvent) {
                    console.log('day', date.toISOString());
                    console.log('coords', jsEvent.pageX, jsEvent.pageY);
                },
                dateClick: function (date) {
                    console.log('date clicked: ', date);                    
                    date.dayEl.style.backgroundColor = '#003366';
                },
                events: @Html.Raw(Model.AllBookings)
            });
            calendar.render();
        });

        $(document).ready(function () {
            var currentIndex = 0;
            $('#carCarousel').bind('slid.bs.carousel', function () {
                currentIndex = $('div.active').index();
            });

            $('.carousel-item').on('click', function () {
                console.log('button clicked...');
                $.ajax({
                    url: "?handler=MakeCarActive",
                    data: { carIndex: currentIndex },
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    dataType: 'HTML',
                    type: "POST",
                    async: false,
                    cache: true,
                    beforeSend: function () {

                    },
                    success: function (data) {
                        location.reload();
                    },
                    error: function () {
                        console.log("Error");
                    },
                    complete: function () {
                        console.log('finished...');
                    },
                });
            });

            $('#addCarBtn').on('click', function () {
                $('#carsModal').modal('hide');
                $('#addCarModal').modal('show');
            });

            $('#addCarModal').on('hide.bs.modal', function () {
                $('#carsModal').modal('show');
            });

            $('#cancelAddNewCarBtn').on('click', function () {
                $('#addCarModal').modal('hide');
            });

            $('#addCarButton').on('click', function () {
                let carModel = $('#addCarModel').val();
                let carFamily = $('#addCarFamily').val();
                if (carModel == "" || carFamily == "") {
                    $('#emptyErrorMsg').show();
                }
                else {
                    $('#emptyErrorMsg').hide();

                    $.ajax({
                        url: "?handler=AddNewCar",
                        data: { carModel: carModel, carFamily: carFamily },
                        headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                        dataType: 'HTML',
                        type: "POST",
                        async: false,
                        cache: true,
                        beforeSend: function () {

                        },
                        success: function (data) {
                            location.reload();
                        },
                        error: function () {
                            console.log("Error");
                        },
                        complete: function () {
                            console.log('finished...');
                        },
                    });
                }
            });

            $('#removeCarBtn').on('click', function () {
                $.ajax({
                    url: "?handler=RemoveCar",
                    data: { carIndex: currentIndex },
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    dataType: 'HTML',
                    type: "POST",
                    async: false,
                    cache: true,
                    beforeSend: function () {

                    },
                    success: function (data) {
                        location.reload();
                    },
                    error: function () {
                        console.log("Error");
                    },
                    complete: function () {
                        console.log('finished...');
                    },
                });
            });

            $('#bookingBtn').on('click', function () {
                $('#bookingModal').modal('show');
            });

            $('#selectDateBtn').on('click', function () {
                $('#bookingModal').modal('hide');
                $('#dateModal').modal('show');
            });

            $('#dateModal').on('hide.bs.modal', function () {
                $('#bookingModal').modal('show');
            });

        });


    </script>
}
else
{
    <link rel="stylesheet" href="~/css/LandingPage.css" />
    <section class="showcase">
        <div class="video-container">
            <video src="~/videos/background.mp4" autoplay muted loop></video>
        </div>
        <div class="content">
            <div class="row" style="margin-left: -80px;">
                <img src="~/images/logo.png" style="height: 400px; width: 400px;" />
            </div>
            <div class="row" style="margin-top: -30px;">
                <a asp-area="Identity" asp-page="Account/Login" class="btn" style="max-width: 250px;">LOGIN</a>
                <a asp-area="Identity" asp-page="Account/Register" class="btn" style="max-width: 250px;">REGISTER</a>
            </div>
        </div>
    </section>

    <section id="about">
        <h1 class="text-light">About</h1>
        <p class="text-light">
            Detail&Go is fine detailing and valeting service for you car.
            We are here to make you proud of your car!
        </p>

        <h2 class="text-secondary">Follow Detail&Go On Social Media</h2>

        <div class="social">
            <a href="https://facebook.com/" target="_blank"><i class="fa fa-facebook fa-3x"></i></a>
            <a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube fa-3x"></i></a>
        </div>
    </section>

    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
}
