<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DetailAndGoAdmin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DetailAndGoAdmin.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Dashboard.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        
        <aside class="sidebar position-fixed top-0 left-0 overflow-auto h-100 float-left" id="show-side-navigation1" style="z-index: 1000;">
            <i class="uil-bars close-aside d-md-none d-lg-none" data-close="show-side-navigation1"></i>
            <div class="sidebar-header d-flex justify-content-center align-items-center px-3 py-4">
                <img class="rounded-pill img-fluid"
                 width="65"
                 src="~/images/marek.jpg"
                 alt="">
                <div class="ms-2">
                    <h5 class="fs-6 mb-0">
                        <a class="text-decoration-none" style="font-size: 12px;" href="#">@User.Identity.Name</a>
                    </h5>
                    <p class="mt-1 mb-0">Administrator</p>
                </div>
            </div>

            <ul class="list-unstyled">
                <li class="">
                    <a asp-page="/Index"><i class="fa fa-gauge"></i>&emsp; Dashboard</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-users"></i>&emsp; Customers</a>
                </li>
                <li>
                    <a asp-page="/Jobs/Index"><i class="fa fa-car"></i>&emsp; Jobs</a>
                </li>
                <li class="">
                    <a asp-page="/Services/Index"><i class="fas fa-soap"></i>&emsp; Services</a>
                </li>
                <li class="">
                    <a href="#"> <i class="fa fa-newspaper"></i>&emsp; Articles</a>
                </li>
                <li class="">
                    <a href="#"><i class="fa fa-chart-simple"></i>&emsp; Statistics</a>
                </li>
                <li class="">
                    <a href="#"><i class="fa fa-money-bill"></i>&emsp; Payments</a>
                </li>
                <li class="">
                    <a id="hideside" href="#"><i class="fa fa-arrow-left"></i>&emsp; Hide Menu</a>
                </li>
            </ul>
        </aside>

        <section id="wrapper">
            <div class="">
                <nav class="navbar navbar-expand-md">
                    <div class="container-fluid mx-2">
                        <div class="navbar-header">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggle-navbar" aria-controls="toggle-navbar" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="fa fa-bars text-white"></i>
                            </button>
                            <a class="navbar-brand" href="#">DETAIL&GO<span class="main-color">ADMIN</span></a>
                        </div>
                        <div class="collapse navbar-collapse" id="toggle-navbar">
                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Settings
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li>
                                            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">My Account</a>
                                        </li>
                                        <li>
                                            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register" title="Manage">Add New Admin</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">Help</a>
                                        </li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li>
                                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post">
                                                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                                            </form>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fa fa-bell"></i><span>23</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fa fa-exclamation"></i><span>98</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <i data-show="show-side-navigation1" id="sideShow" class="fa fa-bars show-side-btn"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <main role="main" class="">
                @RenderBody()
            </main>
        </section>
    }
    else
    {
        <main role="main" class="">
            @RenderBody()
        </main>
    }

    <footer class="footer text-muted">
        <div class="container" style="text-align: center;">
            &copy; 2022 - Lukas Slivka
        </div>
    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Dashboard.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>