<!-- Services Modal -->
<div class="modal fade" id="servicesModal" tabindex="-1" role="dialog" aria-labelledby="servicesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color: rgba(50, 50, 50, 0.7)">
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <h2 class="modal-title text-light" id="carsModalLabel" style="font-size: 24px;">Select Services</h2>
                    </div>
                    <div class="col">
                        <a class="float-end" data-bs-dismiss="modal" aria-label="Close" style="background-color: transparent;" href="#">
                            <span class="text-dark"><i class="fa fa-times" style="font-size: 22px;"></i></span>
                        </a>
                    </div>
                </div>
                <hr class="bg-light" />
                <div class="row">
                    <script>
                        const selectedServices = [];
                    </script>
                    @foreach (var service in Model.AllServices)
                    {
                        <div class="col-md-4">
                            <div class="card bg-dark text-light text-center zoom-on-hover" style="margin: 10px;" id="service-@service.Id">
                                <div class="card-header">
                                    <label>@service.Name</label>
                                </div>
                                <div class="card-body">
                                    <label>@service.Description</label>
                                </div>
                                <div class="card-footer">
                                    <label class="text-warning">£@service.Price</label>
                                </div>
                            </div>
                        </div>

                        <script>
                            $('#service-@service.Id').on('click', function () {
                                console.log('Service' + @service.Id + ' has been clicked');
                                if ($('#service-@service.Id').hasClass('bg-dark')) {
                                    $('#service-@service.Id').removeClass('bg-dark');
                                    $('#service-@service.Id').addClass('bg-success');
                                    selectedServices.push('@service.Id');
                                }
                                else {
                                    $('#service-@service.Id').removeClass('bg-success');
                                    $('#service-@service.Id').addClass('bg-dark');
                                    selectedServices.remove('@service.Id');
                                }
                                if ($('.bg-success').length > 0) {
                                    $('#confirmServicesBtn').removeClass('disabled');
                                    $('#confirmServicesBtn').removeClass('btn-outline-secondary');
                                    $('#confirmServicesBtn').addClass('btn-success');
                                }
                                else {
                                    $('#confirmServicesBtn').addClass('disabled');
                                    $('#confirmServicesBtn').removeClass('btn-success');
                                    $('#confirmServicesBtn').addClass('btn-outline-secondary');
                                }
                                console.log('Selected services: ' + selectedServices);
                            });
                        </script>
                    }
                </div>
                <div class="row" style="margin: 20px 100px;">
                    <a class="btn btn-outline-secondary btn-block disabled" href="#" id="confirmServicesBtn">CONFIRM</a>
                    <a class="btn btn-outline-secondary" style="margin-top: 20px;" href="#" id="cancelServicesBtn">Cancel</a>
                </div>
            </div>
        </div>
    </div>

</div>