<link rel="stylesheet" href="~/css/Services.css?v=@DateTime.Now.ToOADate()" />

<!-- Services Modal -->
<div class="modal fade" id="servicesModal" tabindex="-1" role="dialog" aria-labelledby="servicesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color: rgba(50, 50, 50, 0.0); border: none;">
            <div class="modal-body">
                <div class="row">
                    <h2 class="text-center text-light" id="carsModalLabel" style="font-size: 24px;">What can we do for you?</h2>
                </div>

                <div class="row" style="margin-top: 20px;">
                    <div class="row text-light">
                        <script>
                            selectedServices = [];
                            selectedSubServices = [];
                            let calculatedPrice = [];
                            let mainServicesIds = [];
                            let selectedIndex = 0;
                            let testIndex = 0;
                        </script>
                        @foreach (var service in Model.AllMainServices)
                        {
                            <script>
                                mainServicesIds.push(@service.Id);
                                calculatedPrice.push(@service.Price);
                            </script>
                            <div class="col-md-12" style="margin-bottom: 60px;">
                                <div class="card bg-dark service-card">
                                    <div class="card-header service-header-gradient-off shadow" style="cursor: pointer;" id="service-@service.Id">
                                        <div class="row">
                                            <div class="col-xl-11">
                                                <h2 class="text-light" id="serviceNameText-@service.Id">@service.Name</h2><!--<i class="fa fa-square-check text-info text-center" id="serviceSelected-@service.Id" style="display: none; margin-left: 20px;"> selected</i>-->
                                            </div>
                                            <div class="col-xl-1">
                                                <div class="badge text-info" style="font-size: 20px; background-color: #333; border: 1px solid #999;"><div id="price-to-animate-@service.Id">£ <span id="service-price-@service.Id">@service.Price</span></div></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <a class="btn btn-success" id="service-add-@service.Id" style="border-radius: 0px;">Add Service</a>
                                        <a class="btn btn-primary" id="service-info-@service.Id" style="border-radius: 0px;"><i class="fa fa-info-circle"></i> Details</a>
                                    </div>
                                    <div class="card-body service-body-gradient">
                                        <label class="text-light">@service.Description</label>
                                    </div>
                                    @if (service.IsCustomisable)
                                    {
                                        <div class="card-footer card-gradient">
                                            <div class="accordion card-gradient" id="accordion-@service.Id" style="border: 0;">
                                                <div class="accordion-item card-gradient" style="background-color: rgba(70, 70, 70, .8); border: 0;">
                                                    <h2 class="accordion-header" id="heading-@service.Id">
                                                        <div class="accordion-button card-gradient" style="color: #fff;" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@service.Id" aria-expanded="false" aria-controls="collapse-@service.Id">
                                                            <label class="text-info">Customise</label>
                                                        </div>
                                                    </h2>
                                                    <div id="collapse-@service.Id" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion-@service.Id">
                                                        <div class="accordion-body" style="font-size: 24px;">
                                                            @if (service.SubServices == null)
                                                            {

                                                            }
                                                            else
                                                            {
                                                                List<DetailAndGo.Models.Service> ser = new List<DetailAndGo.Models.Service>();
                                                                foreach (var subService in Model.AllSubServices)
                                                                {
                                                                    string[] subServiceIds = service.SubServices.Split(',');
                                                                    foreach (string id in subServiceIds)
                                                                    {
                                                                        var serviceToAdd = ((IEnumerable<dynamic>)Model.AllSubServices).FirstOrDefault(s => s.Id == Convert.ToInt32(id));
                                                                        ser.Add(serviceToAdd);
                                                                    }
                                                                    break;
                                                                }

                                                                foreach (DetailAndGo.Models.Service itm in ser)
                                                                {
                                                                    <div class="row">
                                                                        <div class="extra-service-off" style="width: 100%; margin: 5px; font-size: 20px; padding: 10px; cursor: pointer;" id="service-@service.Id-subSer-@itm.Id">
                                                                            <div class="float-start" style="margin-left: 10px;">
                                                                                <div class="row" style="font-size: 14px;">
                                                                                    @itm.Name
                                                                                </div>
                                                                                <div class="row text-info" style="font-size: 12px;">
                                                                                    @itm.Description
                                                                                </div>
                                                                            </div>

                                                                            <div class="badge bg-dark float-end text-light">+ £@itm.Price</div>
                                                                        </div>
                                                                    </div>
                                                                    <script>
                                                                        //console.table(calculatedPrice);


                                                                        $("#service-@service.Id-subSer-@itm.Id").on('click', function () {
                                                                            selectedIndex = mainServicesIds.indexOf(@service.Id);
                                                                            if ($('#service-@service.Id-subSer-@itm.Id').hasClass('extra-service-off')) {
                                                                                $('#service-@service.Id-subSer-@itm.Id').removeClass('extra-service-off');
                                                                                $('#service-@service.Id-subSer-@itm.Id').addClass('extra-service');
                                                                                selectedSubServices.push(@service.Id, @itm.Id);
                                                                                if (!selectedServices.includes(@service.Id)) {
                                                                                    selectedServices.push(@service.Id);
                                                                                }
                                                                                calculatedPrice[selectedIndex] += @itm.Price;
                                                                            }
                                                                            else {
                                                                                $('#service-@service.Id-subSer-@itm.Id').removeClass('extra-service');
                                                                                $('#service-@service.Id-subSer-@itm.Id').addClass('extra-service-off');
                                                                                selectedSubServices.remove(@service.Id, @itm.Id);
                                                                                calculatedPrice[selectedIndex] -= @itm.Price;
                                                                            }
                                                                            $('#price-to-animate-@service.Id').animate({
                                                                                color: '#f00'
                                                                            }, "fast");
                                                                            $('#service-price-@service.Id').text(calculatedPrice[selectedIndex].toFixed(2));
                                                                            $('#price-to-animate-@service.Id').animate({
                                                                                color: '#fff'
                                                                            }, "fast");
                                                                        });
                                                                    </script>
                                                                }
                                                            }

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="card-footer" style="background-color: #222;">
                                            <div class="" style="color: #fff; background-color: #222;" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@service.Id" aria-expanded="false" aria-controls="collapse-@service.Id">
                                                <label class="text-muted">No Customisation</label>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <script>
                                function serviceSelectHandler(serviceId) {
                                    console.log('Service' + @service.Id + ' has been clicked');
                                    if ($('#service-' + serviceId).hasClass('service-header-gradient-off')) {
                                        $('#service-' + serviceId).removeClass('service-header-gradient-off');
                                        $('#service-' + serviceId).addClass('service-header-gradient');
                                        $('#service-add-' + serviceId).removeClass('btn-success');
                                        $('#service-add-' + serviceId).addClass('btn-danger');
                                        $('#service-add-' + serviceId).text('Remove Service');
                                        $('#serviceSelected-' + serviceId).fadeIn(300);
                                        selectedServices.push(serviceId);
                                    }
                                    else {
                                        $('#service-' + serviceId).removeClass('service-header-gradient');
                                        $('#service-' + serviceId).addClass('service-header-gradient-off');
                                        $('#service-add-' + serviceId).removeClass('btn-danger');
                                        $('#service-add-' + serviceId).addClass('btn-success');
                                        $('#service-add-' + serviceId).text('Add Service');
                                        $('#serviceSelected-' + serviceId).fadeOut(300);
                                        selectedServices.remove(serviceId);
                                    }
                                    if (selectedServices.length > 0) {
                                        $('#confirmServicesBtn').removeClass('disabled');
                                        $('#confirmServicesBtn').removeClass('btn-dark');
                                        $('#confirmServicesBtn').addClass('btn-success');
                                    }
                                    else {
                                        $('#confirmServicesBtn').addClass('disabled');
                                        $('#confirmServicesBtn').removeClass('btn-success');
                                        $('#confirmServicesBtn').addClass('btn-dark');
                                    }
                                    console.log('Selected services: ' + selectedServices);
                                }

                                $('#service-@service.Id').on('click', function () {
                                    serviceSelectHandler(@service.Id);
                                });

                                $('#service-add-@service.Id').on('click', function () {
                                    serviceSelectHandler(@service.Id);
                                });

                                $('#service-info-@service.Id').on('click', function () {
                                    console.log('info service - @service.Id');
                                });

                            </script>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="position: sticky; bottom: 0; background-color: rgba(0, 0, 0, 0.5); z-index: 99999;">
        <div class="row" style="width: 100%;">
            <div class="">
                <div class="row">
                    <a class="btn btn-dark btn-lg btn-block disabled" style="border-radius: 0; opacity: 1;" id="confirmServicesBtn"><label style="font-size: 24px; padding: 10px; cursor: pointer;">CONFIRM FOR £<span id="totalPrice">299.89</span></label></a>
                </div>
            </div>            
        </div>
    </div>
</div>


<script>
    $('#confirmServicesBtn').on('click', function () {
        booking.subServices = selectedSubServices;
        booking.services = selectedServices;
        booking.servicesSelected = true;
        console.table(booking);
        $('#noServicesText').hide();
        $('#servicesList').show();
        $('#servicesModal').modal('hide');
    });
</script>

<script src="~/js/Utility.js"></script>