@page
@model DetailAndGoAdmin.Pages.Jobs.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Jobs[0].Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs[0].WhenAccepted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs[0].WhenFinished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs[0].Updated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs[0].LocationLat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs[0].LocationLon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs[0].CustomerNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs[0].Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Jobs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhenAccepted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhenFinished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationLat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationLon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
