@page
@model DetailAndGoAdmin.Pages.Jobs.JobDetailModel
@{
    ViewData["Title"] = "Job Detail";
}
<link rel="stylesheet" href="~/css/JobDetail.css" />


<div class="text-light main-box" style="margin: 40px;">

    <div class="row child-box shadow text-center">
        <h3>JOB #@Model.booking.Id DETAIL</h3>
        <label class="badge bg-warning text-dark" style="max-width: fit-content; margin: 0px auto;">@Model.booking.Status</label>
    </div>
</div>

<div class="text-light main-box text-center" style="margin: 40px;">
    <div class="row" style="">
        <div class="col-lg-4" style="border: 0px solid #888;">
            <div class="row child-box text-center" style="box-shadow: 0 1px 60px rgba(255, 255, 255, 0.3)">
                <h4 class="badge bg-secondary" style="font-size: 18px; border-radius: 0px;">Booked For</h4>
                <label style="margin-bottom: 10px;">@Model.booking.BookedFor <div class="badge bg-info text-dark" style="font-size: 14px;"><i class="fa fa-hourglass-half"></i> @DetailAndGoAdmin.UtilityStatic.DateAndTime.GetDaysToDate(Model.booking.BookedFor)</div></label>
            </div>
        </div>
        <div class="col-lg-4" style="border: 0px solid #888;">
            <div class="row child-box text-center" style="box-shadow: 0 1px 60px rgba(255, 255, 255, 0.3)">
                <h4 class="badge bg-secondary" style="font-size: 18px; border-radius: 0px;">Created</h4>
                <label style="margin-bottom: 10px;">@Model.booking.Created <div class="badge bg-info text-dark" style="font-size: 14px;"><i class="fa fa-calendar"></i> @DetailAndGoAdmin.UtilityStatic.DateAndTime.GetDaysFromDate(Model.booking.Created)</div></label>
            </div>
        </div>
        <div class="col-lg-4" style="border: 0px solid #888;">
            <div class="row child-box text-center" style="box-shadow: 0 1px 60px rgba(255, 255, 255, 0.3)">
                <h4 class="badge bg-secondary" style="font-size: 18px; border-radius: 0px;">Car</h4>
                <label style="margin-bottom: 10px;">@Model.car.CarModel @Model.car.CarFamily <div class="badge bg-warning text-dark" style="font-size: 14px;"><i class="fa fa-car"></i> @Model.car.CarSize</div></label>
            </div>
        </div>
    </div>
    
</div>
<div class="services-container" style="margin-top: 20px;">
    @foreach (var item in Model.services)
    {
        <div class="row">
            <div class="col-lg-2">
                <div class="service-box"><div class="badge bg-info text-dark"><label><b>@item.Name.ToUpper()</b></label></div></div>
            </div>
            @{
                int count = 0;
            }
            @foreach (var subItem in Model.subServices)
            {
                if (subItem != null)
                {
                    if (subItem.Id == item.Id && Model.subServices[count + 1] != null)
                    {
                        <div class="col-lg-2">
                            <div class="sub-service-box"><label><b>@Model.subServices[count + 1].Name</b></label></div>
                        </div>
                    }
                }
                count++;
            }
        </div>
    }
</div>

<div class="text-light main-box" style="margin-top: 20px;">
    <div class="row child-box shadow text-center" style="margin: 20px auto;">
        <div class="col">
            <div class="row" style="min-height: 100% !important;">
                <a href="#" class="btn btn-outline-success btn-lg" style="border-radius: 0px;"><i class="fa fa-check"></i><br /> ACCEPT</a>
            </div>
        </div>
        <div class="col">
            <div class="row" style="min-height: 100% !important;">
                <a href="#" class="btn btn-outline-danger btn-lg" style="border-radius: 0px;"><i class="fa fa-times"></i><br /> DECLINE</a>
            </div>
        </div>
        <div class="col">
            <div class="row" style="min-height: 100% !important;">
                <a href="#" class="btn btn-outline-primary btn-lg" style="border-radius: 0px;"><i class="fa fa-user"></i><br /> CONTACT</a>
            </div>
        </div>
    </div>
</div>

<script>
    console.table('@Model.booking');
</script>
