@page
@model DetailAndGoAdmin.Pages.Services.EditModel

@{
    ViewData["Title"] = "Edit";
    //Layout = "~/Pages/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/AddService.css" />
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>

<div class="text-light main-box" style="margin: 20px;">

    <div class="row child-box shadow">
        @if (Model.Service.IsSubService)
        {
            <h4 class="text-light">Edit Sub-Service <label class="badge bg-warning text-dark">@Model.Service.Name</label></h4>
        }
        else
        {
            <h4 class="text-light">Edit Service <label class="badge bg-warning text-dark">@Model.Service.Name</label></h4>
        }
        <hr />

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Service.Id" />
            <input type="hidden" asp-for="Service.StripeServiceId" />
            <input type="hidden" asp-for="Service.IsSubService" />
            <input type="hidden" asp-for="Service.CreatedDate" />
            <div class="row">
                <div class="form-group">
                    <label asp-for="Service.Name" class="control-label"></label>
                    <input asp-for="Service.Name" class="add-input" />
                    <span asp-validation-for="Service.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label asp-for="Service.Description" class="control-label"></label>
                    <input asp-for="Service.Description" class="add-input" />
                    <span asp-validation-for="Service.Description" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="control-label"><i class="fa fa-pound-sign"></i> Small</label>
                        <input asp-for="Service.Price" class="add-input" />
                        <span asp-validation-for="Service.Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="control-label"><i class="fa fa-pound-sign"></i> Medium</label>
                        <input asp-for="Service.PriceMedium" class="add-input" />
                        <span asp-validation-for="Service.PriceMedium" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="control-label"><i class="fa fa-pound-sign"></i> Large</label>
                        <input asp-for="Service.PriceLarge" class="add-input" />
                        <span asp-validation-for="Service.PriceLarge" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="control-label"><i class="fa fa-clock"></i> Small</label>
                        <input asp-for="Service.TimeToFinishMinsS" class="add-input" />
                        <span asp-validation-for="Service.TimeToFinishMinsS" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="control-label"><i class="fa fa-clock"></i> Medium</label>
                        <input asp-for="Service.TimeToFinishMinsM" class="add-input" />
                        <span asp-validation-for="Service.TimeToFinishMinsM" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="control-label"><i class="fa fa-clock"></i> Large</label>
                        <input asp-for="Service.TimeToFinishMinsL" class="add-input" />
                        <span asp-validation-for="Service.TimeToFinishMinsL" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input form-switch" asp-for="Service.IsActive" /> @Html.DisplayNameFor(model => model.Service.IsActive)
                </label>
            </div>
            @if (Model.Service.SubServices != null)
            {
                <div class="row" style="margin-top: 20px;" id="subservices-section">
                    <label style="margin-bottom: 18px; font-size: 14px;"><i class="fa fa-list"></i> Sub-Services</label>
                    @if (Model.Service.SubServices != null && Model.Service.SubServices.Length > 0)
                    {
                        <script>
                            let selectedSubServices = [];
                        </script>
                        @foreach (var subservice in Model.AllSubServices)
                        {
                            <div class="col-4" style="margin-bottom: 10px;">
                                <div class="service-button bg-dark" id="subservice-@subservice.Id"><label style="cursor: crosshair;">@subservice.Name</label></div>
                            </div>

                            <script>
                                $(function ($) {
                                    $('#subservice-@subservice.Id').on('click', function () {
                                        if ($('#subservice-@subservice.Id').hasClass('bg-dark')) {
                                            $('#subservice-@subservice.Id').removeClass('bg-dark');
                                            $('#subservice-@subservice.Id').addClass('bg-primary');
                                            $('#subservice-@subservice.Id').prepend('<i class="fa fa-circle-check" style="margin-top: 5px; margin-right: 5px;"></i> ');
                                            selectedSubServices.push(@subservice.Id);
                                        }
                                        else {
                                            $('#subservice-@subservice.Id').removeClass('bg-primary');
                                            $('#subservice-@subservice.Id').addClass('bg-dark');
                                            $('#subservice-@subservice.Id').text('@subservice.Name');
                                            selectedSubServices.remove(@subservice.Id);
                                        }
                                        console.log(selectedSubServices);
                                        $('#subserviceHidden').val(selectedSubServices);
                                        $('#selectedSubS').val(selectedSubServices);
                                    });
                                });
                            </script>
                        }
                    }
                </div>
            }
            <div class="form-group" style="margin-top: 20px;">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
                <a href="https://dashboard.stripe.com/products/@Model.Service.StripeServiceId" target="_blank" class="btn btn-warning">Open in Stripe</a>
            </div>
        </form>
    </div>

</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
