@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/Dashboard.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.js" integrity="sha512-d6nObkPJgV791iTGuBoVC9Aa2iecqzJRE0Jiqvk85BhLHAPhWqkuBiQb1xz2jvuHNqHLYoN3ymPfpiB1o+Zgpw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<link rel="stylesheet" type="text/css" href="~/css/GoogleMaps.css" />
<script>    
    function initMap() {
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 8,
            center: { lat: 52.954784, lng: -1.158109 },
            disableDefaultUI: true,
            styles: [
                { elementType: "geometry", stylers: [{ color: "#242f3e" }] },
                { elementType: "labels.text.stroke", stylers: [{ color: "#242f3e" }] },
                { elementType: "labels.text.fill", stylers: [{ color: "#746855" }] },
                {
                    featureType: "administrative.locality",
                    elementType: "labels.text.fill",
                    stylers: [{ color: "#d59563" }],
                },
                {
                    featureType: "poi",
                    elementType: "labels.text.fill",
                    stylers: [{ color: "#d59563" }],
                },
                {
                    featureType: "poi.park",
                    elementType: "geometry",
                    stylers: [{ color: "#263c3f" }],
                },
                {
                    featureType: "poi.park",
                    elementType: "labels.text.fill",
                    stylers: [{ color: "#6b9a76" }],
                },
                {
                    featureType: "road",
                    elementType: "geometry",
                    stylers: [{ color: "#38414e" }],
                },
                {
                    featureType: "road",
                    elementType: "geometry.stroke",
                    stylers: [{ color: "#212a37" }],
                },
                {
                    featureType: "road",
                    elementType: "labels.text.fill",
                    stylers: [{ color: "#9ca5b3" }],
                },
                {
                    featureType: "road.highway",
                    elementType: "geometry",
                    stylers: [{ color: "#746855" }],
                },
                {
                    featureType: "road.highway",
                    elementType: "geometry.stroke",
                    stylers: [{ color: "#1f2835" }],
                },
                {
                    featureType: "road.highway",
                    elementType: "labels.text.fill",
                    stylers: [{ color: "#f3d19c" }],
                },
                {
                    featureType: "transit",
                    elementType: "geometry",
                    stylers: [{ color: "#2f3948" }],
                },
                {
                    featureType: "transit.station",
                    elementType: "labels.text.fill",
                    stylers: [{ color: "#d59563" }],
                },
                {
                    featureType: "water",
                    elementType: "geometry",
                    stylers: [{ color: "#17263c" }],
                },
                {
                    featureType: "water",
                    elementType: "labels.text.fill",
                    stylers: [{ color: "#515c6d" }],
                },
                {
                    featureType: "water",
                    elementType: "labels.text.stroke",
                    stylers: [{ color: "#17263c" }],
                },
            ],
        });
               

        const contentString =
            '<div id="content">' +
            '<div id="siteNotice">' +
            "</div>" +
            '<h1 id="firstHeading" class="firstHeading">Job</h1>' +
            '<div id="bodyContent">' +
            "<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large " +
            "sandstone rock formation in the southern part of the " +
            "Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) " +
            "south west of the nearest large town, Alice Springs; 450&#160;km " +
            "(280&#160;mi) by road. Kata Tjuta and Uluru are the two major " +
            "features of the Uluru - Kata Tjuta National Park. Uluru is " +
            "sacred to the Pitjantjatjara and Yankunytjatjara, the " +
            "Aboriginal people of the area. It has many springs, waterholes, " +
            "rock caves and ancient paintings. Uluru is listed as a World " +
            "Heritage Site.</p>" +
            '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">' +
            "https://en.wikipedia.org/w/index.php?title=Uluru</a> " +
            "(last visited June 22, 2009).</p>" +
            "</div>" +
            "</div>";

        const tourStops = [
            @foreach(var item in Model.Jobs)
            {
                <text>
                [{ lat: @item.LocationLat, lng: @item.LocationLon}, '@item.BookingDate.ToShortTimeString()'],
                </text>
                <text>

                </text>
            }            
        ];
        // Create an info window to share between markers.
        const infoWindow = new google.maps.InfoWindow();
        const image = {
            url: "/images/mapmarker.png",
            // This marker is 20 pixels wide by 32 pixels high.
            size: new google.maps.Size(64, 64), 
            // The origin for this image is (0, 0).
            origin: new google.maps.Point(0, 0),
            // The anchor for this image is the base of the flagpole at (0, 32).
            anchor: new google.maps.Point(32, 32),
        };
        // Create the markers.
        tourStops.forEach(([position, title], i) => {
            const marker = new google.maps.Marker({
                position,
                map,
                icon: image,
                animation: google.maps.Animation.DROP,
                title: `${i + 1}. ${title}`,
                label: `${i + 1}`,
                optimized: false,
            });

            const infowindow = new google.maps.InfoWindow({
            content: title,
            ariaLabel: "Uluru",
        });

            // Add a click listener for each marker, and set up the info window.
            /*marker.addListener("click", () => {
                infoWindow.close();
                infoWindow.setContent(marker.getTitle());
                infoWindow.open(marker.getMap(), marker);
            });*/
            marker.addListener("click", () => {
                infowindow.open({
                    anchor: marker,
                    map,
                });
            });

        });
        

        
    }

    window.initMap = initMap;


</script>



<div class="p-4">
    <div class="welcome">
        <div class="content rounded-3 p-3">
            <h1 class="fs-3">@ViewData["Greeting"]</h1>
            <p class="mb-0">@ViewData["Quote"]</p>
            <p class="mb-0 text-muted">@ViewData["QuoteAuthor"]</p>
        </div>
    </div>


    <section class="statistics mt-4">
        <div class="row">
            <div class="col-lg-4">
                <div class="box d-flex rounded-2 align-items-center mb-4 mb-lg-0 p-3">
                    <i class="fa fa-users fs-2 text-center bg-dark rounded-circle"></i>
                    <div class="ms-3">
                        <div class="d-flex align-items-center">
                            <h3 class="mb-0">152</h3> <span class="d-block ms-2">Customers</span>
                        </div>
                        <p class="fs-normal mb-0">newest customer: Katarina Badiova</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box d-flex rounded-2 align-items-center mb-4 mb-lg-0 p-3">
                    <i class="fa fa-check fs-2 text-center bg-dark rounded-circle"></i>
                    <div class="ms-3">
                        <div class="d-flex align-items-center">
                            <h3 class="mb-0">34</h3> <span class="d-block ms-2">Jobs Done In This Month</span>
                        </div>
                        <p class="fs-normal mb-0">Previous month you did 12 jobs</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box d-flex rounded-2 align-items-center p-3">
                    <i class="fa fa-coins fs-2 text-center bg-dark rounded-circle"></i>
                    <div class="ms-3">
                        <div class="d-flex align-items-center">
                            <h3 class="mb-0">£5285.63</h3> <span class="d-block ms-2">This Month Profit</span>
                        </div>
                        <p class="fs-normal mb-0">£3458.21 in previous month</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="charts mt-4">
        <div class="chart-container p-3">
            <h3 class="fs-6 mb-3">TODAY'S JOBS ON THE MAP</h3>            
            <div classclass="row">

                <a class="btn btn-dark" asp-page-handler="Index">All Jobs</a>
                <a class="btn btn-dark" asp-page-handler="NearJobs">Near Jobs</a>
                <a class="btn btn-dark" asp-page-handler="NextClosestJob">Next Closest Job</a>

                <div id="map"></div>

            </div>
        </div>
    </section>

    <section class="charts mt-4">
        <div class="row">
            <div class="col-lg-6">
                <div class="chart-container rounded-2 p-3">
                    <h3 class="fs-6 mb-3">Chart title number one</h3>
                    <canvas id="myChart"></canvas>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="chart-container rounded-2 p-3">
                    <h3 class="fs-6 mb-3">Chart title number two</h3>
                    <canvas id="myChart2"></canvas>
                </div>
            </div>
        </div>
    </section>

    <section class="admins mt-4">
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <!-- <h4>Admins:</h4> -->
                    <div class="admin d-flex align-items-center rounded-2 p-3 mb-4">
                        <div class="img">
                            <img class="img-fluid rounded-pill"
                                 width="75" height="75"
                                 src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148906966/small/1501685402/enhance"
                                 alt="admin">
                        </div>
                        <div class="ms-3">
                            <h3 class="fs-5 mb-1">Joge Lucky</h3>
                            <p class="mb-0">Lorem ipsum dolor sit amet consectetur elit.</p>
                        </div>
                    </div>
                    <div class="admin d-flex align-items-center rounded-2 p-3 mb-4">
                        <div class="img">
                            <img class="img-fluid rounded-pill"
                                 width="75" height="75"
                                 src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907137/small/1501685404/enhance"
                                 alt="admin">
                        </div>
                        <div class="ms-3">
                            <h3 class="fs-5 mb-1">Joge Lucky</h3>
                            <p class="mb-0">Lorem ipsum dolor sit amet consectetur elit.</p>
                        </div>
                    </div>
                    <div class="admin d-flex align-items-center rounded-2 p-3">
                        <div class="img">
                            <img class="img-fluid rounded-pill"
                                 width="75" height="75"
                                 src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907019/small/1501685403/enhance"
                                 alt="admin">
                        </div>
                        <div class="ms-3">
                            <h3 class="fs-5 mb-1">Joge Lucky</h3>
                            <p class="mb-0">Lorem ipsum dolor sit amet consectetur elit.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box">
                    <!-- <h4>Moderators:</h4> -->
                    <div class="admin d-flex align-items-center rounded-2 p-3 mb-4">
                        <div class="img">
                            <img class="img-fluid rounded-pill"
                                 width="75" height="75"
                                 src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907114/small/1501685404/enhance"
                                 alt="admin">
                        </div>
                        <div class="ms-3">
                            <h3 class="fs-5 mb-1">Joge Lucky</h3>
                            <p class="mb-0">Lorem ipsum dolor sit amet consectetur elit.</p>
                        </div>
                    </div>
                    <div class="admin d-flex align-items-center rounded-2 p-3 mb-4">
                        <div class="img">
                            <img class="img-fluid rounded-pill"
                                 width="75" height="75"
                                 src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907086/small/1501685404/enhance"
                                 alt="admin">
                        </div>
                        <div class="ms-3">
                            <h3 class="fs-5 mb-1">Joge Lucky</h3>
                            <p class="mb-0">Lorem ipsum dolor sit amet consectetur elit.</p>
                        </div>
                    </div>
                    <div class="admin d-flex align-items-center rounded-2 p-3">
                        <div class="img">
                            <img class="img-fluid rounded-pill"
                                 width="75" height="75"
                                 src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907008/medium/1501685726/enhance"
                                 alt="admin">
                        </div>
                        <div class="ms-3">
                            <h3 class="fs-5 mb-1">Joge Lucky</h3>
                            <p class="mb-0">Lorem ipsum dolor sit amet consectetur elit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="statis mt-4 text-center">
        <div class="row">
            <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                <div class="box bg-dark p-3">
                    <i class="fa fa-eye"></i>
                    <h3>5,154</h3>
                    <p class="lead">Page views</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                <div class="box bg-dark p-3">
                    <i class="fa fa-user"></i>
                    <h3>245</h3>
                    <p class="lead">User registered</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                <div class="box bg-dark p-3">
                    <i class="fa fa-dollar"></i>
                    <h3>5,154</h3>
                    <p class="lead">Product sales</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="box bg-dark p-3">
                    <i class="fa fa-coins"></i>
                    <h3>5,154</h3>
                    <p class="lead">Transactions</p>
                </div>
            </div>
        </div>
    </section>

    <section class="charts mt-4">
        <div class="chart-container p-3">
            <h3 class="fs-6 mb-3">Testing Chart</h3>
            <div>
                <div><canvas id="chart3"></canvas></div>
            </div>
        </div>
    </section>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDST-4ewfodFV5YXdTrJRXW2VNjnLJOIwg&callback=initMap&v=weekly" defer></script>
<script>
    // The bar chart
    var myChart = new Chart(document.getElementById('myChart'), {
        type: 'bar',
        data: {
            labels: ["January", "February", "March", "April", 'May', 'June', 'August', 'September'],
            datasets: [{
                label: "Lost",
                data: [45, 25, 40, 20, 60, 20, 35, 25],
                backgroundColor: "#0d6efd",
                borderColor: 'transparent',
                borderWidth: 2.5,
                barPercentage: 0.4,
            }, {
                label: "Succes",
                startAngle: 2,
                data: [20, 40, 20, 50, 25, 40, 25, 10],
                backgroundColor: "#dc3545",
                borderColor: 'transparent',
                borderWidth: 2.5,
                barPercentage: 0.4,
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    gridLines: {},
                    ticks: {
                        stepSize: 15,
                    },
                }],
                xAxes: [{
                    gridLines: {
                        display: false,
                    }
                }]
            }
        }
    })

    // The line chart
    var chart = new Chart(document.getElementById('myChart2'), {
        type: 'line',
        data: {
            labels: ["January", "February", "March", "April", 'May', 'June', 'August', 'September'],
            datasets: [{
                label: "My First dataset",
                data: [4, 20, 5, 20, 5, 25, 9, 18],
                backgroundColor: 'transparent',
                borderColor: '#0d6efd',
                lineTension: .4,
                borderWidth: 1.5,
            }, {
                label: "Month",
                data: [11, 25, 10, 25, 10, 30, 14, 23],
                backgroundColor: 'transparent',
                borderColor: '#dc3545',
                lineTension: .4,
                borderWidth: 1.5,
            }, {
                label: "Month",
                data: [16, 30, 16, 30, 16, 36, 21, 35],
                backgroundColor: 'transparent',
                borderColor: '#f0ad4e',
                lineTension: .4,
                borderWidth: 1.5,
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    gridLines: {
                        drawBorder: false
                    },
                    ticks: {
                        stepSize: 12,
                    }
                }],
                xAxes: [{
                    gridLines: {
                        display: false,
                    },
                }]
            }
        }
    })

    var chart = document.getElementById('chart3');
    var myChart = new Chart(chart, {
        type: 'line',
        data: {
            labels: ["One", "Two", "Three", "Four", "Five", 'Six', "Seven", "Eight"],
            datasets: [{
                label: "Lost",
                lineTension: 0.2,
                borderColor: '#d9534f',
                borderWidth: 1.5,
                showLine: true,
                data: [3, 30, 16, 30, 16, 36, 21, 40, 20, 30],
                backgroundColor: 'transparent'
            }, {
                label: "Lost",
                lineTension: 0.2,
                borderColor: '#5cb85c',
                borderWidth: 1.5,
                data: [6, 20, 5, 20, 5, 25, 9, 18, 20, 15],
                backgroundColor: 'transparent'
            },
            {
                label: "Lost",
                lineTension: 0.2,
                borderColor: '#f0ad4e',
                borderWidth: 1.5,
                data: [12, 20, 15, 20, 5, 35, 10, 15, 35, 25],
                backgroundColor: 'transparent'
            },
            {
                label: "Lost",
                lineTension: 0.2,
                borderColor: '#337ab7',
                borderWidth: 1.5,
                data: [16, 25, 10, 25, 10, 30, 14, 23, 14, 29],
                backgroundColor: 'transparent'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    gridLines: {
                        drawBorder: false
                    },
                    ticks: {
                        stepSize: 12
                    }
                }],
                xAxes: [{
                    gridLines: {
                        display: false,
                    },
                }],
            }
        }
    })
</script>
<script src="~/js/Dashboard.js"></script>
